body{
    background-color: #1F2833;
}

.mainTitle{
    color: #66FCF1;
    text-align:center;
}

.imageMainPage{
    width: 40%;
    height: 40%;
}

.presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.text-presentation{
    color: #66FCF1;
    font-weight: 800;
}

.paragraph-presentation{
    color: #C5C6C7;
}

.presentation-text-container{
    display: flex;
    flex-direction: column;
    width: 30%;
}



/* MOI */


.titleAbout{
    color: #45A29E;
    text-decoration: underline;
    margin-left: 2rem;
}

.paragraphAbout, .linkAbout{
    color: #C5C6C7;
    text-align: justify;
}

.paragraphAbout{
    margin: 2rem;
}

/* PORTFOLIO */

.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.search-project{
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-disclaimer{
    text-align: center;
    color:#66FCF1;
}

/* PORTFOLIO CARTE */

.project-card{
    background-color: #0B0C10;
    width: 25rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem 2rem;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(11,12,16,0.5); 
    box-shadow: 0px 0px 40px 0px rgba(11,12,16,1);
}

.project-card-img{
    width: 25rem;
    height: 15rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-card-title{
    color: #45A29E;
    font-size: 1.5em;
    font-weight: 800;
    margin: 10px 20px;
}

.project-card-description{
    color: #C5C6C7;
    font-size: 1em;
    margin: 10px 20px;
}