@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  background-color: #1f2833;
  font-family: "Roboto Slab", Serif;
}

.mainTitle {
  color: #66fcf1;
  text-align: center;
}

/* NAVBAR */

.navbar {
  background-color: #0b0c10;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #66fcf1;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #66fcf1;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #66fcf1;
}

.nav-item .active {
  color: #45a29e;
  border: 1px solid #45a29e;
}

.nav-icon {
  display: none;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 210px;
  border-top: 1px solid #c5c6c7;
  background-color: #0b0c10;
}

.informationsFooter {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid #1f2833;
}

.icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}

.linksFooter {
  display: flex;
  flex-direction: column;
}

.FooterNavigation,
.mediaLink {
  text-decoration: none;
  color: #c5c6c7;
}

.titleFooter {
  text-align: center;
  color: #66fcf1;
}

.iconsList {
  list-style-type: none;
  padding: 0;
  text-align: center;
  line-height: 22px;
}

.copyright {
  text-align: center;
  color: #66fcf1;
  background-color: #0b0c10;
}

/* ACCUEIL */

.imageMainPage {
  width: 40%;
  height: 40%;
}

.presentation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.text-presentation {
  color: #66fcf1;
  font-weight: 800;
}

.paragraph-presentation {
  color: #c5c6c7;
}

.presentation-text-image-container {
  display: flex;
  justify-content: space-around;
}

.presentation-text-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

q {
  text-align: center;
}

.quotation {
  text-align: left;
  color: #66fcf1;
  margin-bottom: 50px;
}

/* MOI */

.titleAbout {
  color: #45a29e;
  text-decoration: underline;
  margin-left: 2rem;
}

.paragraphAbout,
.linkAbout {
  color: #c5c6c7;
  text-align: justify;
}

.paragraphAbout {
  margin: 2rem;
}

/* PORTFOLIO */

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.search-project {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-disclaimer {
  text-align: center;
  color: #66fcf1;
}
.search-project input[type="text"]{
  width: 300px;
  background: url('assets/images/loupe.svg') no-repeat right #0b0c10;
}

/* PORTFOLIO CARTE */

.project-card {
  background-color: #0b0c10;
  width: 25rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem 2rem;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(11, 12, 16, 0.5);
  box-shadow: 0px 0px 40px 0px rgba(11, 12, 16, 1);
}

.project-card-img {
  width: 25rem;
  height: 15rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-card-title {
  color: #45a29e;
  font-size: 1.5em;
  font-weight: 800;
  margin: 10px 20px;
}

.project-card-description {
  color: #c5c6c7;
  font-size: 1em;
  margin: 10px 20px;
}

/* PROJECT DETAILS */

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quit-details {
  text-align: left;
  margin: 10px;
  color: #66fcf1;
  text-decoration: none;
  align-self: start;
}

.project-details-image {
  width: 50%;
  height: 50%;
  border: 2px solid #0b0c10;
}

.project-details-link {
  color: #66fcf1;
  background-color: #0b0c10;
  border: 2px solid #45a29e;
  padding: 1rem 4rem;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  margin: 20px 0px;
  transition: 0.4s ease-out;
  font-size: 1.1em;
}

.project-details-link:hover,
.contact-form-submit:hover {
  color: #0b0c10;
  background-color: #66fcf1;
  border: 2px solid #0b0c10;
}

/* CONTACT */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #c5c6c7;
}

input[type="text"],
input[type="email"] {
  height: 30px;
  border: none;
}

input[type="text"],
input[type="email"],
.contact-form textarea {
  margin: 1rem 0rem 0rem 0rem;
  font-family: "Roboto Slab", Serif;
  background-color: #0b0c10;
  border-radius: 10px;
  width: 500px;
  font-size: 1.25em;
  color: #66fcf1;
  outline: none;
  padding: 0.5rem;
}

.contact-form textarea {
  height: 100px;
}

.contact-form label {
  margin-top: 1rem;
  align-self: start;
  color: #66fcf1;
}

.alert-danger {
  margin: 0;
  color: red;
  align-self: start;
}

.alert-success {
  border: 2px solid #0b0c10;
  padding: 0rem 4rem;
  margin-bottom: 1rem;
  display: none;
}

.text-success {
  color: #00ff00;
}

.contact-links{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact-form-submit{
  color: #66fcf1;
  background-color: #0b0c10;
  border: 2px solid #45a29e;
  padding: 1rem 4rem;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.4s ease-out;
  font-size: 1.1em;
}

/* CONTACT ITEMS */

.contact-icon{
  margin-right: 2rem;
}

.contact-item {
  padding: 0rem 2rem;
  background-color: #0b0c10;
  color: #66fcf1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 2rem;
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  /* NAVBAR */

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #c5c6c7;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
  }

  .nav-menu.active {
    background: #0b0c10;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item:first-child:before {
    content: "";
    width: 100%;
    background: #45a29e;
  }

  .nav-item .active {
    color: #45a29e;
    border: none;
  }
  .nav-links {
    padding: 0.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #66fcf1;
  }

  /* ACCUEIL */

  .presentation {
    text-align: center;
  }

  .presentation-text-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .presentation-text-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* CONTACT */

  .contact-links{
    flex-direction: column;
    width: auto;
  }

  /* IMG */

  .resize{
    width: 100%;
    height: 100%;
  }
}
